force-app/main/default/flows/Get_Polizas_Activas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetProductosRector</name>
        <label>GetProductosRector</label>
        <locationX>471</locationX>
        <locationY>52</locationY>
        <actionName>invocableMethodsProductData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getPolizas</targetReference>
        </connector>
        <inputParameters>
            <name>Docs</name>
            <value>
                <elementReference>getCuenta.Numero_de_Documento__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>invocableMethodsProductData</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Variables_de_salida</name>
        <label>Variables de salida</label>
        <locationX>802</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>Polizas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getPolizas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>poliza_en_bucle.Descripcion_Producto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testing</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Get Polizas Activas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Polizas Activas</label>
    <loops>
        <name>testing</name>
        <label>testing</label>
        <locationX>502</locationX>
        <locationY>317</locationY>
        <assignNextValueToReference>poliza_en_bucle</assignNextValueToReference>
        <collectionReference>getPolizas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Variables_de_salida</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCuenta</name>
        <label>getCuenta</label>
        <locationX>282</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductosRector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_de_Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPolizas</name>
        <label>getPolizas</label>
        <locationX>682</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Variables_de_salida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Autogestion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCuenta.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VIGENTE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Poliza__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCuenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dni</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lista_Polizas_Activas</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>poliza_en_bucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Poliza__c</objectType>
    </variables>
    <variables>
        <name>Polizas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Poliza__c</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
